{% extends 'parent/base.html' %}
{% load jformat %}
{% load static %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock title %}
{% block header %}
    <link rel="stylesheet" href = "{% static 'css/comment.css' %}">
{% endblock header %}
{% block content %}

<div class="post-container">

    <div class="post-card">

        <h1 class="post-title">{{ post.title }}</h1>

        <div class="post-meta">
            👤 {{ post.author }}
            <span>|</span>
            🕒 {{ post.published|jformat:"%Y/%m/%d - %H:%M" }}
        </div>

        <hr>

        <div class="post-body">
            {{ post.description|linebreaks|censor|safe }}
        </div>
        <hr>
        {% with post.images.all as image %}
            {% for img in image%}
                 <img width="200px" height="150px" src="{{img.image_file.url}}" alt="{{img.title}}" >
            {% empty %}

            <p class="empty-comment">
                هنوز کامنتی ثبت نشده.
            </p>
            {% endfor %}
        {% endwith %}
        <br>
        <a href="{% url 'blog:post' %}" class="back-btn">
            ← Back to Posts
        </a>

    </div>

    <div class="comment-section">
        {% with comments.count as cm_count %}
        <h2>
            💬 {{ cm_count }} Comment{{ cm_count|pluralize }}
        </h2>
        {% endwith %}
        {% for comment in comments %}

            <div class="comment-card">

                <div class="comment-name">
                   <h4> 👤 username : {{ comment.name }}</h4>
                </div>

                <div class="comment-body">
                    <p>{{ comment.body|linebreaks|censor }}</p>
                </div>
                <hr>
            </div>

        {% empty %}

            <p class="empty-comment">
                هنوز کامنتی ثبت نشده.
            </p>

        {% endfor %}

    </div>

    <div class="comment-form">

        <h2>Leave a Comment</h2>

        <form method="POST" action="{% url 'blog:comments' post.id %}">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="submit-btn">
                Submit Comment
            </button>

        </form>

    </div>

</div>

{% endblock content %}

