{% extends 'parent/base.html' %}
{% block title %}Post lists{% endblock title %}
{% block content %}
{% load blog_tags %}


<h1 style="text-align: center">Posts</h1>

<ol style="--length: {{posts|length}}; margin-bottom: 0; padding-bottom: 0;" role="list">
    {% for post in posts %}
    <li style="--i: {{forloop.counter}}">

        <a href="{{post.get_absolute_url}}" style="text-decoration: none;">
            <h3>{{ post.title }}</h3>
        </a>
        <p>{{ post.description | truncatewords:5 |censor }}</p>
        {% if post.images.first.image_file.url %}
        <img width="200px" height="150px" src="{{post.images.first.image_file.url}}" alt="{{post.images.first.title}}" >

        {% endif %}
    </li>
    {% endfor %}
</ol>
<div class="index-decor" style="text-align: center">
    <a href="{% url 'blog:index' %}" class="back-post-btn">
    آمار کلی پست ها
    </a>
</div>
<div class="pagination">
    {% include 'partials/paginator.html' with page=page_obj %}
</div>

{% endblock content %}